numpy
scipy
Cython
pandas
scikit-learn
statsmodels
matplotlib
seaborn
rdkit
py3Dmol
ipywidgets
sphinx
nbsphinx
pydata-sphinx-theme
lxml
fortecubeview
pythreejs
scikit-image
pyscf
shap
catboost
graphviz
